/* *{
    background-color: #161616;
} */

.nav{
    margin: 20px;
}

.nav ul{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 70px;
}

.nav a{
    text-decoration: none; 
    font-family: Montserrat;
    font-weight: 500;
}

.nav h1{
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 100px;
    margin-top: 15vh;
}

.nav h2{
    display: flex;
    justify-content: center;
    margin: 3vh;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 38px;
}

.about{
    height: 500px;
    margin-top: 15vh;
}

.about h2{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 28px;

    margin: 4vh;
    margin-left: 20%;
}

.about p{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;

    margin: 4vh;
    margin-left: 20%;
    margin-right: 20%; 

    line-height: 30px;
}