html{
    scroll-behavior: smooth;
}

/* STYLES FOR NAV SECTION */

.nav{
    margin: 20px;
}

.nav ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 70px;
}

.nav a{
    color: rgb(62, 117, 220);
    text-decoration: none; 
    font-family: DM Sans;
    font-weight: 500;
}

.nav a:hover{
    text-decoration: underline;
}

/* STYLES FOR HEADER SECTION */

.header{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.header-text{
    line-height: 1.4;
}

.header h1{
    font-family: DM Sans;
    font-size: 70px;
    font-weight: 700;
}

.header h3{
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 200;
}

.header img{
    height: 200px;
    border-radius: 15%;
}

/* STYLES FOR ABOUT SECTION */

.about{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    max-width: 55%;
    /* line-height: 1.8;  */
}

.about h2{
    font-family: DM Sans;
    font-weight: 600;
    font-size: 26px;
}

.about p{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 3vh;
}

/* STYLES FOR WORK SECTION */

.work{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.work h2{
    font-family: DM Sans;
    font-weight: 600;
    font-size: 26px;
}

.work ul{
    display: flex;
    flex-direction: row;
    gap: 12vh;
    margin-top: 3vh;
}

.work img:hover{
    border-radius: 20px;
    transition: ease-in 0.2s;
}

#work-main img{
    display: flex;
    flex-direction: column;
    height: 350px;  
}

.work-apps img{
    display: flex;
    flex-direction: column;
    height: 350px;  
} 

.work a{
    text-decoration: none;
    color: black;
}

.work figcaption{
    font-family: DM Sans;
    font-weight: 300;
    font-size: 18px;
    margin-top: 1vh;
}

/* STYLES FOR CONTACT SECTION */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
}

.contact h2{
    font-family: DM Sans;
    font-weight: 600;
    font-size: 26px;
}

.contact ul{
    display: flex;
    flex-direction: row;
    gap: 20vh;
    margin-top: 3vh;
}

.contact a{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: rgb(62, 117, 220);
}

.contact a:hover{
    text-decoration: underline;
}

/* STYLES FOR FOOTER SECTION */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;

    background-color: rgb(220, 220, 220);
}

footer h2{
    font-family: DM Sans;
    font-weight: 600;
    font-size: 18px;
}

footer p{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}

/* STYLES FOR MEDIA QUERIES */

@media screen and (max-width:1300px) {
    #work-main img{
        height: 300px;  
    }

    .work-apps img{
        height: 300px;  
    } 
}

@media screen and (max-width:992px) {
    .work{
    height: 1200px;
}

.work ul{
    flex-direction: column;
    gap: 8vh;
}

#work-main img{
    height: 300px;  
}

.work-apps img{
    height: 300px;  
} 
}

@media screen and (max-width:768px) {
    .header{
        margin-left: 7vh;
        margin-right: 7vh;
    }

    .header h1{
        font-size: 60px;
    }
    
    .header h3{
        font-size: 20px;
    }
    
    .header img{
        height: 150px;
    }
}

@media screen and (max-width: 576px){
    .header{
        margin-left: 9vh;
        margin-right: 9vh;
    }

    .header h1{
        font-size: 45px;
    }
    
    .header h3{
        font-size: 16px;
    }
    
    .header img{
        height: 150px;
    }

    .about p{
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5;
        margin-top: 3vh;
    }

    .contact{
        height: 200px;
    }
}
