/* *{
    background-color: #161616;
} */

/* STYLES FOR NAV SECTION */

.nav{
    margin: 20px;
}

.nav ul{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    gap: 70px;
}

.nav a{
    text-decoration: none; 
    font-family: DM Sans;
    font-weight: 500;
}

/* STYLES FOR HEADER SECTION */

.header{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

.header-text{
    line-height: 1.4;
}

.header h1{
    font-family: DM Sans;
    font-size: 70px;
    font-weight: 700;
}

.header h3{
    font-family: DM Sans;
    font-size: 22px;
    font-weight: 200;
}

.header img{
    height: 200px;
    border-radius: 15%;
}

/* STYLES FOR ABOUT SECTION */

.about{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.8; 
}

.about h2{
    font-family: DM Sans;
    font-weight: 600;
    font-size: 26px;
}

.about p{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}